@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Welcome, you're logged in!</p>
    </Authorized>
    <NotAuthorized>
        <p>Please log in to access this content.</p>
    </NotAuthorized>
</AuthorizeView>