@using BlazorApp.Services
@using Microsoft.AspNetCore.Components.Forms
@page "/login"
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <InputText @bind-Value="loginModel.Username" placeholder="Username" />
    <InputText @bind-Value="loginModel.Password" type="password" placeholder="Password" />
    
    <button type="submit">Login</button>

</EditForm>
<p>
    <button @onclick="HandleLogout">
        Logout
    </button>
</p>


@code {
    private LoginModel loginModel = new();

    private async Task HandleLogin()
    {
        // For demo purposes, password is hardcoded.
        if (loginModel.Username == "testuser" && loginModel.Password == "password")
        {
            if (AuthStateProvider is CustomAuthStateProvider customAuthProvider)
            {
                await customAuthProvider.Login(loginModel.Username);
                Navigation.NavigateTo("/");
            }
        }  
        else
        {
            // Display error message
        }
    }

    private async Task HandleLogout()
    {
        Console.Write("HELLO");
        if (AuthStateProvider is CustomAuthStateProvider customAuthProvider)
            {
                await customAuthProvider.Logout();
                Navigation.NavigateTo("/");
            }
    }

    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}
