@page "/Test"
@rendermode InteractiveServer

<PageTitle>Gif Page</PageTitle>

<h1>MoSCoW!</h1>

<img src="https://media1.tenor.com/m/cNEsi--UAzMAAAAd/moskau-russland.gif" alt="GIF" />

<p>
    Moskau, Moskau
    Deine Seele ist so groß
    Nachts, da ist der Teufel los
    Ha, ha, ha, ha, ha, hey!
</p>
